=form_for(@note) do |f|
  -if @note.errors.any?
    %div{id: "error_explanation"}
      -@note.errors.full_messages.each do |message|
        =flash[:alert]=message

  %div.field
    =f.label :title, {class: "label label-default"}
    =f.text_field :title, {class: 'form-control input-sm'}

  %div.field
    =f.label :content, {class: "label label-default"}
    =f.text_area :content, {class: 'form-control input-sm'}

    %div.field
      =f.label :appointment, {class: "label label-default"}
      %br
      =f.text_field :appointment, {class: 'form-control input-sm'}

    %div.actions
      =f.submit 'Submit', class: 'btn btn-success'
