=form_for(@user) do |f|
  -if @user.errors.any?
    %div{id: "error_explanation"}
      -@user.errors.full_messages.each do |message|
        =flash[:alert]=message

  %div.field
    =f.label :first_name, {class: "label label-default"}
    =f.text_field :first_name, {class: 'form-control input-sm'}

  %div.field
    =f.label :last_name, {class: "label label-default"}
    =f.text_field :last_name, {class: 'form-control input-sm'}

  %div.field
    =f.label :email, {class: "label label-default"}
    =f.text_field :email, {class: 'form-control input-sm'}

  %div.field
    =f.label :telegram_id, {class: "label label-default"}
    =f.text_field :telegram_id, {class: 'form-control input-sm'}

  %div.field
    =f.label :password, {class: "label label-default"}
    =f.text_field :password, {class: 'form-control input-sm'}

  %div.field
    =f.label :head, {class: "label label-default"}
    =f.check_box :head, {class: 'checkbox input-lg'}

  %div.actions
    =f.submit 'Submit', class: 'btn btn-success'
